<!-- Initiates all the required nodes to run vest detection using Rosie to display movement -->
<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
        <param name="video_device" value="/dev/video1" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>
    <node name="detect_vest" pkg="robot_tracker" type="detect_vest.py"
          args="--debug false"/>
    <node name="vest_move_robot" pkg="robot_tracker" type="vest_move_robot.py" output="screen"
          args="--cmd_vel /safebase/cmd_vel"/>
    <node name="relay_twist_mir_sim" pkg="robot_tracker" type="relay_twist.py" />
</launch>
